.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared-Styles */
.secondary-bg{
  color: #FFF8F3;
}
.text-primary {
  color: #FD6E0A;
}
.dark-2{
  color: #474747;
}

.btn-primary{
  background-color: #FD6E0A;
  color: #FFFFFF; 
  width: 130px;
  height: 50px;
  font-weight: bold;
  font-size: 17px;
  padding: 15px 30px; 
  border: none;
  border-radius: 5px ;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description{
  font-size: 18px;
  color: #757575;
}

/* header er background img */
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
  margin: 0px 200px;
  color: #181818;
}

nav ul{
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
}

/* banner styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 200px;
}
.banner-greetings{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
  font-weight: bold;
  font-size: 85px;
  color: #181818;
}

.banner-description{
  font-size: 18px;
  color: #757575;
}
.banner-content{
  max-width: 580px;
}
/* main style */
main{
  max-width: 1140px;
  margin: 0 auto;
}

/* about-styles */

.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-items{
  display: flex;
  justify-content: space-around;
}
.about-title{
  color: #757575;
}
.item-description{
  font-weight: bold;
  color: #474747;
}

